*,
*::before,
*::after {
  box-sizing: border-box;
  line-height: calc(1em + 0.5rem); /*option*/
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}
